body{
    background-color: #B22222;
}

main{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin:50px auto 50px auto;
    padding: 50px;
    border-radius: 50px;
    background-color: white;
}

img{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
}

h4{
    font-size: 12px;
}

h3{
    font-size: 20px;
}

header{
    font-size: 40px;
    color: red;
}

ul{
    list-style: none;
}

.rodape-prin
{  
    clear: both;
    padding: 30px;         
    color: rgb(250,255,250);
    font-size: 15px;
    max-width: 280px;
    margin: 0 auto 0 auto;
    display: block;
}

.icones-sociais li
{
    display: block;
    float: left;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}
